.header {
  width: 100%;
  height: var(--header-height);

  display: flex;
  align-items: center;

  background-color: var(--color-3);

  border-bottom: #3eaa3c 4px solid;
  box-shadow: #414141 0px 0px 13px;
  margin-bottom: 30px;
}

.logo {
  margin: var(--size-16);
}

.logo-text {
  font-family: var(--font-family-logo);
  font-size: var(--font-size-16);
  color: var(--color-2);
}