html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: var(--size-16) 0
}

p {
  margin: var(--size-8) 0
}

@import 'variables.css';