.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--color-3) 1px solid;
  margin-bottom: var(--size-16);
}

.title {
  font-weight: 700;
  font-size: var(--font-size-20);
  color: var(--color-3);
  margin-right: var(--size-32);
}

.total {
  font-weight: 700;
  font-size: var(--font-size-20);
  color: var(--color-4);
}

.container-monkeys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--size-32);
}